<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" href="../static/image/favicon.svg" type="image/svg+xml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/employee.css">
    <title>{{ employee.surname if employee.surname else ''}} {{ employee.name if employee.name else ''}} </title>
</head>
<body>
    <header>
        <div class="header-contaner">
            <div class="header-left">
                <a href="/general">
                    <img src="../static/image/favicon.svg" alt="">
                </a>
                <a href="/notifications" class="notification-button">
                    {% if owner %}Ответы участников{% else %}Мои приглашения{% endif %}
                    {% if count_notifications %}
                        <span class="notification-count"> {{ count_notifications }} </span>
                    {% endif %}
                </a>
            </div>
            <div class="header-right">
                <a class="header-button" href="{% if owner %} /project_add {% else %} {{ url_for('main.edit_profile') }} {% endif %}"> 
                    {% if owner %}Создать проект{% else %}Заполнить профиль{% endif %} 
                </a>
                <a href="/favourite">
                    <img src="../static/image/favourite.svg" alt="">
                </a>
                <a href="{{ url_for('main.profile') }}">
                    <img src="../static/image/profile.svg" alt="" class="last">
                </a>
            </div>
        </div>
    </header>
    <div class="main-container-area">
        <div class="main-container">
            {% if owner %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-message">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            {% endif %}
            <div class="profile-contaner">
                <h1>{{ employee.role.label }}</h1>
                <h2>{{ employee.surname }} {{ employee.name }} {{ employee.middlename }}</h2>
                <h3>Обо мне</h3>
                <p class="about">{{ employee.about }}</p>
                <div class="twice-grid-contaner">
                    <div class="twice-grid">
                        <p class="title-grid">Опыт</p>
                        <p class="value-grid">{{ employee.experience.label }}</p>
                    </div>  
                    <div class="twice-grid">
                        <p class="title-grid">Вовлеченность</p>
                        <p class="value-grid">{{ employee.involvement.label }}</p>
                    </div>  
                </div>
                <div class="twice-grid-contaner">
                    <div class="twice-grid">
                        <p class="title-grid">Сфера проекта</p>
                        <p class="value-grid">{{ employee.scope.label }}</p>
                    </div>  
                    <div class="twice-grid">
                        <p class="title-grid">Условия</p>
                        <p class="value-grid">{{ employee.conditions.label }}</p>
                    </div>  
                </div>
                <div class="twice-grid-contaner">
                    <div class="twice-grid">
                        <p class="title-grid">Телефон</p>
                        <p class="value-grid">{{ employee.phone }}</p>
                    </div>  
                    <div class="twice-grid">
                        <p class="title-grid">Telegram</p>
                        <p class="value-grid">{{ employee.telegram_nickname }}</p>
                    </div>  
                </div>
                <div class="once-grid-contaner">
                    <p class="title-grid">Цель</p>
                    <p class="value-grid">{{ employee.target.label }}</p>
                </div>
                <h3>Какой проект я ищу:</h3>
                <p class="about">{{ employee.about_project }}</p>
                {% if owner %}
                <button class="btn">Пригласить в команду</button>
                {% endif %}
            </div>
            {% if owner %}
            <div class="invite-fav-contaner">
                <button class="btn">Пригласить</button>
                <button class="favourite-contaner {% if fav %} active {% endif %}" data-employee-id="{{ employee.id }}">
                    <img src="{% if fav %} ../static/image/favourite-active.svg {% else %} ../static/image/favourite.svg {% endif %}" alt="">
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    {% if owner %}
    <div id="modal" class="modal">
        <div class="modal-content">
            <button class="close" aria-label="Закрыть">
            <img src="{{ url_for('static', filename='image/exit.svg') }}" alt="закрыть">
            </button>
            {% if projects %}
            {% for project in projects %}
            <a href="/add_invite?emp_id={{ employee.id }}&project_id={{ project.id }}" style="text-decoration: none;">
                <div class="project-contaner">
                    <div class="project-contaner-top">
                        <div class="project-contaner-category">
                            {% if project.scope_id %}
                                <p>{{ project.scope.label }}</p>
                            {% endif %}
                            {% if project.target_id %}
                                <p>{{ project.target.label }}</p>
                            {% endif %}
                            {% if project.stage_id %}
                                <p>{{ project.stage.label }}</p>
                            {% endif %}
                            {% if project.conditions_id %}
                                <p>{{ project.conditions.label }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <p class="project-title">{{ project.title }}</p>
                    <h3 class="project-roles">{{ project.roles_str }}</h3>
                    <p class="project-about">{{ project.about }}</p>
                </div>
            </a>
                {%endfor%}
            {% else %}
            <div class="modal-not-data">
                <img src="../static/image/create_project.png" alt="">
                <h2>Создайте проект</h2>
                <p>{% if not project_yes %}У вас еще нет ни одного проекта. Создайте проект, чтобы приглашать участников в команду{% else %}У вас нет ни одного проекта, в котором данный пользователь не принимает участие{% endif %}</p>
                <a href="/project_add">Создайте проект</a>
            </div>
            {% endif %}
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const modal       = document.getElementById('modal');
        const openButtons = document.querySelectorAll('.btn');
        const closeBtn    = modal.querySelector('.close');

        openButtons.forEach(btn =>
            btn.addEventListener('click', () => modal.classList.add('show'))
        );

        closeBtn.addEventListener('click', () =>
            modal.classList.remove('show')
        );

        modal.addEventListener('click', e => {
            if (e.target === modal) modal.classList.remove('show');
        });

        document.querySelectorAll(".favourite-contaner").forEach(button => {
            button.addEventListener("click", async () => {
            const empId = button.dataset.employeeId;
            const img = button.querySelector('img');

            try {
                const res = await fetch("/favourite_add", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id: empId }),
                });
                const data = await res.json();

                if (res.ok) {
                if (data.action === "added") {
                    button.classList.add("active");
                    img.src = "../static/image/favourite-active.svg";
                } else if (data.action === "removed") {
                    button.classList.remove("active");
                    img.src = "../static/image/favourite.svg";
                }
                } else {
                console.error("Ошибка:", data.error);
                }
            } catch (err) {
                console.error("Ошибка запроса:", err);
            }
            });
        });
    });
    </script>
    {% endif %}
</body>
</html>